<footer>
  <div class="footer1">
    <div class="row footer-lists">
      <div class="col-sm-3 footer-list-container">
        <label class="footer-list-title">Sports</label>
        <div class="footer-list-items">
          <label><a>Daily Fantasy Football</a></label>
          <label><a>FIFA</a></label>
          <label><a>Madden NFL</a></label>
          <label><a>NHL</a></label>
          <label><a>NBA Live</a></label>
        </div>
      </div>
      <div class="col-sm-3 footer-list-container">
        <label class="footer-list-title">Our Team</label>
        <div class="footer-list-items">
          <label><a href="#">BC Lions</a></label>
          <label><a href="#">Edmonton Eskimos</a></label>
          <label><a href="#">Calgary Stampeders</a></label>
          <label><a href="#">Winnipeg Blue Bombers</a></label>
          <label><a href="#">Hamilton Tiger-Cats</a></label>
          <label><a href="#">Toronto Argonauts</a></label>
        </div>
      </div><!--col-sm-3-->
      <div class="col-sm-3 footer-list-container">
        <label class="footer-list-title">Sports Media</label>
        <div class="footer-list-items">
          <label><a href="#">Press</a></label>
          <label><a href="#">Subscribe</a></label>
          <label><a href="#">Support</a></label>
        </div>
      </div><!--col-sm-3-->
    </div><!--row-->
  </div>

  <div class="footer2">
    Copyright © 2017 . All Rights Reserved.
  </div>
</footer>
