<header class="kopa-header">
<div class="kopa-header-top">
<div class="wrapper">

	<div class="header-top-left">
	<div class="k-user">

		<ul class="clearfix">
                            <li><a [routerLink]="['/login']">Log in </a></li>
                            <li>&nbsp;|&nbsp;</li>
                            <li><a [routerLink]="['/signup']">Sign up</a></li>
        </ul>
	</div>
	<!-- k-user -->

	<div class="social-links style-color">
                        <ul class="clearfix">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-youtube"></a></li>
                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                        </ul>
    </div>
	<!-- social-links -->

	</div><!--header-top-left-->

	<div class="header-top-right">
		<div class="header-top-list">
			<ul class="clearfix">
                            <li><a [routerLink]="['/research-tool']">Research Tools</a></li>
							<li><a href="#">Lineup Optimizer</a></li>
							<li><a [routerLink]="['/bankroll']">Bankroll Management</a></li>
							<li><a href="#">DFS Plugin</a></li>
							<li><a href="#">Shark Trends</a></li>
							<li><a href="#">FAO</a></li>

			</ul>
		</div>
	</div><!--header-top-right-->
	<div class="clearfix"></div>
	</div><!--wrapper-->
	</div><!--kopa-header-top-->

	<div class="kopa-header-middle">

            <div class="wrapper">

                <div class="kopa-logo">
                    <a [routerLink]="['/']"><img src="assets/images/front/logo.png" alt="logo"></a>
                </div>
                <!-- logo -->

               <nav class="kopa-main-nav">
                    <ul class="main-menu sf-menu sf-js-enabled sf-arrows">
						<li><a [routerLink]="['/contact-us']"><span>Contact US</span></a></li>
						<li><a [routerLink]="['/about-us']"><span>About Us</span></a></li>
						<li><a href="shop.html"><span>Podcasts</span></a></li>
						<li><a href="shop.html"><span>VIP Articles</span></a></li>
						<li><a [routerLink]="['/articles']"><span>Article</span></a></li>

						<li class="">
                            <a href="gallery1.html" class="sf-with-ul"><span>DFS Basics</span></a>
                            <ul class="sub-menu" style="display: none;">
                                <li class=""><a [routerLink]="['/dfs-glossary']">DFS Glossary</a></li>
                                <li><a [routerLink]="['/bankroll-calculator']">Bankroll Calculator</a></li>
                                <li><a [routerLink]="['/getting-started-videos']">Getting Started Videos  </a></li>
                            </ul>
                        </li>

						<li class="">
                            <a href="categories1.html" class="sf-with-ul"><span>Forums</span></a>

                        </li><li class="current-menu-item">
                            <a [routerLink]="['/']"class="sf-with-ul"><span>Home</span></a>

                        </li>







                    </ul>
                </nav>
                <!--/end main-nav-->

                <nav class="main-nav-mobile clearfix">
                    <a class="pull fa fa-bars"></a>
                    <ul class="main-menu-mobile">
                      <li><a [routerLink]="['/contact-us']"><span>CONTACT US</span></a></li>
					<li><a href="#"><span>About Us</span></a></li>
					<li><a href="#"><span>Podcasts</span></a></li>
					<li><a href="#"><span>VIP Articles</span></a></li>
                    <li><a href="#"><span>Article Preview</span></a></li>
                    <li class="dropdown">
					<a href="#"><span>DFS Basics</span></a>
						<ul class="dropdown-menu">
                                <li><a href="gallery1.html">gallery 1</a></li>
                                <li><a href="gallery2.html">gallery 2</a></li>
                                <li><a href="gallery3.html">gallery 3</a></li>
                                <li><a href="gallery4.html">gallery 4</a></li>
                        </ul>
					</li>
                    <li><a href="#"><span>FORUMS</span></a></li>
                    <li><a [routerLink]="['/']"><span>HOME</span></a></li>
                    </ul>
              </nav>
                <!--/main-menu-mobile-->
				 <div class="clearfix"></div>
            </div>
            <!-- wrapper -->

        </div><!--kopa-header-middle-->

		<div class="kopa-header-bottom">

            <div class="wrapper">

                <nav class="kopa-main-nav-2">
                    <ul class="main-menu-2 sf-menu sf-js-enabled sf-arrows">

					<li><a href="#"><span>Nascarc</span></a></li>
					<li><a href="#"><span>Futbol</span></a></li>
					<li><a href="#"><span>pga</span></a></li>
					<li><a href="#"><span>nfl</span></a></li>
					<li><a href="#"><span>nba</span></a></li>
					<li><a href="#"><span>mlb</span></a></li>
					<li><a href="#"><span>ncaa</span></a></li>







                    </ul>
                </nav>
                <!--/end main-nav-2-->

                <nav class="main-nav-mobile style2 clearfix">
                    <a class="pull">categories<i class="fa fa-angle-down"></i></a>
                    <ul class="main-menu-mobile">
                        <li><a href="#"><span>ncaaf</span></a></li>
                         <li><a href="#"><span>mmqb</span></a></li>
                        <li><a href="#"><span>mlb</span></a></li>
                        <li><a href="#"><span>nba</span></a></li>
                        <li><a href="#"><span>nfl</span></a></li>
                        <li><a href="#"><span>nhl</span></a></li>
                        <li><a href="#"><span>golf</span></a></li>
                        <li><a href="#"><span>planet futbol</span></a></li>
                    </ul>
						 <div class="clearfix"></div>
              </nav>

                <!--/main-menu-mobile-2-->
                 <div class="clearfix"></div>
            </div>
            <!-- wrapper -->

        </div><!--kopa-header-bottom-->

</header>
