<section>
	<div class="bankroll_calculator">
		<div class="container padding-l-r">
		<div class="row">
			<div class="col-sm-9">
				<div class="dfs_cal">
					<h1>DFS BANKROLL MANAGEMENT CALCULATOR</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Torquatus, is qui consul cum Cn. Longum est enim ad omnia respondere, quae a te dicta sunt. Tanta vis admonitionis inest in locis; Iubet igitur nos Pythius Apollo noscere nosmet ipsos. Beatus sibi videtur esse moriens. Nunc omni virtuti vitium contrario nomine opponitur. Duo Reges: constructio interrete. </p>
					
					<div class="dfs_calculate">
					<div class="row">
						<div class="col-md-5 padding-r">
							<div class="dfs_label">
								<h4>Bankroll for DFS:</h4>
							</div>	
						</div>
						<div class="col-md-7 padding-l">
							<div class="dfs_input">
								<input name="Bankroll" id="Bankroll" type="text"> &nbsp;&nbsp;&
							</div>
						</div>
					</div>	<!--row-->
					
					<div class="row">
						<div class="col-md-5 padding-r">
							<div class="dfs_label">
								<h4>Odds Offered:</h4>
							</div>	
						</div>
						<div class="col-md-7 padding-l">
							<div class="dfs_input">
								<input name="OddsFor" id="OddsFor" size="6" type="text"> &nbsp;&nbsp;to&nbsp;&nbsp; <input name="OddsAgainst" id="OddsAgainst" size="6" type="text"> &nbsp;&nbsp;(Odds of 2 to 1 should be entered as 1 to 2, Odds of 11 to 10 should be entered as 10 to 11, etc)
							</div>
						</div>
					</div>	<!--row-->
					
					<div class="row">
						<div class="col-md-5 padding-r">
							<div class="dfs_label">
								<h4>Estimated Probability of Winning:</h4>
							</div>	
						</div>
						<div class="col-md-7 padding-l">
							<div class="dfs_input">
								<input name="WinningProb" id="WinningProb" type="text"> &nbsp;&nbsp;(% Use a conservative estimate)
							</div>
						</div>
					</div>	<!--row-->
					
					<div class="row">
						<div class="col-md-5 padding-r">
							<div class="dfs_label">
								<h4>Minimum bet allowed:</h4>
							</div>	
						</div>
						<div class="col-md-7 padding-l">
							<div class="dfs_input">
								<input name="BetAmount" id="BetAmount" type="text"> &nbsp;&nbsp;&
							</div>
						</div>
					</div>	<!--row-->
					
					<div class="row">
						<div class="col-md-5 padding-r">
							<div class="dfs_label">
								<h4>Bets must be multiples of:</h4>
							</div>	
						</div>
						<div class="col-md-7 padding-l">
							<div class="dfs_input">
								<input name="BetMultiple" id="BetMultiple" type="text"> &nbsp;&nbsp;&
							</div>
						</div>
					</div>	<!--row-->
					
					</div><!--dfs_calculate-->
					<button class="btn btn_cal">Calculate Bet Amount</button>
					<div class="cal_result">
						<h5>Results</h5>
						<ul>
						<li>The above results are based on the Kelly criterion to determine your optimal bet with about 5% of your bankroll.</li>
						<li>The outcome of this bet is based on the assumption there is no relationship to any other bet.</li>
						<li>Please read the disclaimer *</li>
						</ul>
					</div>
					
					<div class="cal_dis">
						<h5>Disclaimer</h5>
						<p>The DFS Bankroll Management Calculator is intended for interest only. We don't recommend that you gamble or place any bets based upon the results displayed here. We don't guarantee the results and any bet that you place is entirely at your own risk. 	
						</p>
					</div>
					
				</div><!--dfs_cal-->
			</div>
			
			<div class="col-sm-3 padding-l">
				
					<div class="cal_3_sidebar">
						<div class="cal_3_heading">
								More Awesome Material
						</div>
						<ul>
						<li>Lorem ipsum dolor sit amet, consectetur</li>
						<li>Lorem ipsum dolor sit amet, consectetur</li>
						<li>Lorem ipsum dolor sit amet, consectetur</li>
						<li>Lorem ipsum dolor sit amet, consectetur</li>
						<li>Lorem ipsum dolor sit amet, consectetur</li>
						</ul>
					</div><!--cal_3_sidebar-->
					
					<div class="cal_share">
						<div class="cal_share_heading">
								Share
						</div>
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div><!--cal_share-->
			
				
			</div><!-- col-sm-3-->
		</div> <!--row-->	
		</div><!--container-->
		
	</div>
	
	
	
</section>