<div class="filter-header">
  <div class="title">
    Current Filters
  </div>
  <div class="clear-all-btn" (click)="clearAllFilters()">clear all</div>
</div>
<div class="filters-containers">
  <div class="filter-item"
       *ngFor="let filter of filters">
    <div>
      <label class="filter-key">{{getKeyName(filter.key)}} : </label><label class="filter-value">{{ getFilterDisplayValue(filter)}}</label>
    </div>
    <span (click)="removeFilter(filter)" class="delete-btn">
      <md-icon class="delete-btn">clear</md-icon>
    </span>

  </div>
</div>
