<section>
	<div class="about-banner-1">
       <div class="heading-lo">
	   <h1>DF Sports Gods Team</h1>
	   <h3>Sports is in our blood</h3>
	   </div>
    </div>
	<div class="meet_team">
		<div class="container">
			<div class="meet_team-heading">
			<h2>MEET THE TEAM</h2>
			<img src="assets/images/c-y.png">
			</div>
			
			<div class="row">
				<div class="col-sm-6 padding-r">
					<div class="team_img1"><img src="assets/images/about_1.png"></div>
				</div>
				<div class="col-sm-6 padding-l">
					<div class="team_txt">
						<h3>Josh Kronfeld</h3>
						<h4>CEO/Co-Founder</h4>
						<p>Born and raised in New York City, Sports Communication major at Indiana University with a minor in journalism, worked for the New York Yankees out of college, then worked for a year at NBC sports covering National Football League, English Premier League Football, College Football and the National Hockey League.</p>
					</div>
				</div>
			</div><!-- row -->
			
			<div class="row">
				<div class="col-sm-6 padding-r">
					<div class="team_txt">
						<h3>Nick Collie</h3>
						<h4>President/Co-Founder</h4>
						<p>Former production assistant at ESPN.  Over the last year has created various highlights for a number of the ESPN shows across the family of networks and has produced live event content for ESPN's mobile app and website. Born and raised in South Florida, Nick was a Public Business Management major at Indiana University with a minor in Sport Communication.</p>
					</div>
				</div>
				<div class="col-sm-6 padding-l">
					<div class="team_img2"><img src="assets/images/about_2.png"></div>
				</div>
			</div><!-- row -->
			
		</div> <!-- container -->
	</div><!-- meet team -->
	
	<div class="about-banner-2">
       <div class="heading-lo">
	   <h1>Make the Right Picks to Win</h1>
	   <h3>Consistently make the right picks</h3>
	   </div>
    </div>
	
	<div class="about-content">
	  <div class="container">
       <div class="row">
		<div class="col-sm-6">
			<div class="about-content-heading">
			<img src="assets/images/about_content_1.png">
			<h3>Our Picks</h3>
			</div>
			<div class="about-content-txt">
			<p>Our picks are a 100% authentic and have a proven track record of consistent winning line-ups. Let us do the research for you. We provide the winning formula for your success. The process is simple and seamless; you receive our lineup then submit. Our lineups are constructed from pure knowledge, research, the “eye test”, and gut instincts other known as “vibes”. We follow every minute, detail and play from the kickoff/tipoff to the final whistle. We have eyes and ears around all the leagues to gather our share of information in order to make the best possible lineup for you! Spots are Limited on every sport! Sign up quickly 1000 customer limit!</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="about-content-heading">
			<img src="assets/images/about_content_2.png">
			<h3>A Proven Track Record</h3>
			</div>
			<div class="about-content-txt">
			<p>In six months since we formed DFSports Gods, we have accumulated over $100,000 worth of winnings for our subscribers. We have an 85% success rate in cash games. In week one of the NFL, we took every one of our subscribers $30 entries and turned them into $700. For EPL and UCL, we are a combined 7-3 tournament record while cashing in 50/50's and double ups on every slate. We've participated and placed in big money tournaments on both sites up against every other major DFS pro in the business. For CFB, we have cashed on 50/50s on every slate while holding a 10-2 tournament record with record winnings of over $8,000 in week 1. Even Gods have a bad day (read your Greek myths) but in the end Gods prevail over all. </p>
			</div>
		</div>
	   </div>
	  </div> 
    </div><!-- about-content -->
	
	<div class="about-banner-3">
       <div class="heading-lo">
	   <h1>Make the Right Picks to Win</h1>
	   <h3>Consistently make the right picks</h3>
	   </div>
    </div>
	
	<div class="about-content-last">
       <div class="container">
		<div class="about-content-last-p">
		<h4>After leaving jobs at NBC Sports and ESPN, we started DF Sports Gods by creating our own accounts on DraftKings and Fanduel and tweeting out consistent winners for free. We were very successful, very quickly so we began accepting voluntary cash tips...</h4>
		<p>	
			We blew up rapidly as NFL and College Football seasons kicked off and have since grown to a following of over 2000 people in just under a month span. The business and company were created simply by the unexpected rapid, positive response to our free lineups as well as us realizing the need for the DFS industry to have verified providers such as ourselves to win money for our armed forces members, busy father's with day jobs, and college students following that we know is watching their no-run first inning props during those 90 min lectures. Come ride out with the DF Gods and enjoy the meteoric rise with us.
		</p>
		 </div>
	   </div>
    </div><!-- about-content-last -->
	
</section>