<section class="grey_bg">
    <div class="container">
        <div class="login">
            <h3>Change Password</h3>
            <div class="login-in">
              <div class="error-msg" *ngIf="isError">{{errorMsg}}</div>
                <form (ngSubmit)="onChangePassword(f)" #f="ngForm">
                    <fieldset>
                        <small [hidden]="password.valid || (password.pristine && !f.submitted)">
       Please Enter Minimum 6 Characters
    </small>
                        <input minlength="6" type="password" name="password" ngModel required #password="ngModel" placeholder="Password">

                        <small [hidden]="confirmPassword.valid ||  (confirmPassword.pristine && !f.submitted)">
        Password mismatch
    </small>
                        <input minlength="6" type="password" name="confirmPassword" ngModel required validateEqual="password" #confirmPassword="ngModel"
                            placeholder="Confirm Password">

                        <button type="submit" [disabled]="!f.form.valid">Change Password</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
