<section>
	<div class="container">
		<div class="contact">
			<div class="row">
				<div class="col-md-12">
					<div class="c-us">
						<h3>Contact us today</h3>
						<img src="assets/images/c-y.png"/>
					</div>
				</div>
			</div><!--row-->
			<div class="row">
				<div class="col-md-4">
					<div class="c-detail">
						<div><h3>Contact Details</h3><img src="assets/images/c-line.png"/></div>
						<div class="c-d-f">
							<div class="row">
								<div class="col-md-2"><img src="assets/images/c-loc.png"/></div>
								<div class="col-md-10 padding-l"><h4>1/77 Street<br>Lorem Ipsum, 7007</h4></div>
							</div>	
						</div>
						<div class="c-d-f">
							<div class="row">
								<div class="col-md-2"><img src="assets/images/c-mail.png"/></div>
								<div class="col-md-10 padding-l"><h4>info@company.com</h4></div>
							</div>	
						</div>
						<div class="c-d-f">
							<div class="row">
								<div class="col-md-2"><img src="assets/images/c-phone.png"/></div>
								<div class="col-md-10 padding-l"><h4>123 456 7890</h4></div>
							</div>	
						</div>
					</div>
				</div><!--col-md-4-->
				<div class="col-md-8">
					<div class="enquiry-form">
						<div class="cent"><h3>Online Enquiry Form</h3></div>
						<div class="o-e-f">
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="usr">Name</label>
											<input type="text" class="form-control" id="usr">
										</div>
										
										<div class="form-group">
											<label for="phonenum">Phone Number</label>
											<input type="tel" class="form-control" id="phonenum">
										</div>
										
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" class="form-control" id="email">
										</div>
										
										<div class="form-group">
											<label for="usr">Preferred Contact Method:</label><br>
											<label class="radio-inline">
												<input type="radio" name="optradio">Phone
											</label>
											<label class="radio-inline">
												<input type="radio" name="optradio">Email
											</label>
										</div>
										
									</div><!--col-md-6-->
									
									<div class="col-md-6">
										<div class="form-group">
											<label for="comment">Comments/Enquiries</label>
											<textarea class="form-control" rows="10" id="comment"></textarea>
										</div><button type="submit" class="btn btn-primary btn-submit pull-right">Submit</button>
									</div><!--col-md-6-->
								</div><!--row-->
							</form>	
						</div>	
					</div>
				</div><!--col-md-8-->
			</div><!--row-->
		</div><!--contact-->
	</div><!--container-->
	<div class="container-fluid padding">
		<img src="assets/images/c-map.png"/>
	</div><!--container-fluid-->
</section>