<section>
	<div class="cont">
		<div class="heading-lo">
			<h1>Lorem Ipsum Dolor Sit </h1>
			<h3>Summus dolor plures dies</h3>
		</div>
	</div>
	<div class="yell-head">
		<div class="container">
			<div class="yyy">
				<p><span class="vitae">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sint modo partes vitae</span><br>
					<span class="vitae1">nisi quod turpis oratio est? Laboro autem non sine causa; Cum praesertim illa perdiscere ludus esset.<br> Duo Reges: constructio interrete.</span>
				</p>
			</div>
		</div>
	</div>
	<div class="headlines border_box mb30 res_div">
		<div class="container">
			<div class="kopa-tab sty hov">
				<ul class="nav nav-tabs b">
					<li class="active dul"><a href="#FanDuel" data-toggle="tab"><img src="assets/images/t2.png"> FanDuel</a></li>
					<li><a href="#DRaftKings" data-toggle="tab"><img src="assets/images/t1.png">&nbsp; DRaftKings</a></li>
				</ul>
				
				<div class="tab-content DROP ">
					<div class="tab-pane active" id="FanDuel">
						<ul class="kopa-list play-name clearfix bg">
							<li>
								<a href="#"	>
									<span class="fa fa-futbol-o" aria-hidden="true"></span>
									NBA</a>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-futbol-o" aria-hidden="true"></span>
										NFL</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-futbol-o" aria-hidden="true"></span>
											MLB</a>
										</li>
										<li>
											<a href="#">
												<span class="fa fa-futbol-o" aria-hidden="true"></span>
												NHL</a>
											</li>
											<li>
												<a href="#">
													<span class="fa fa-futbol-o" aria-hidden="true"></span>
													PGA</a>
												</li>
												
											</ul>   
										</div>
										
										<div class="tab-pane" id="DRaftKings">
											<ul class="kopa-list play name clearfix">
												<li>
													<a href="#">MLB</a>
												</li>
												<li>
													<a href="#">NHL</a>
												</li>
												<li>
													<a href="#">PGA</a>
												</li>
												
											</ul>   

										</div></div>
									</div>
								</div>
							</div>
							<div class="fanduel">
								<div class="container">
									<span class="roott">fanduel nba daily research console</span>
									<div class="bott-brd"></div>
									<div class="tool">
										<h4>DFS Premium Tools</h4>
									</div>

									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="rr">
												<div class="icone-area">
													<img src="assets/images/icon1.png"></div>
													<h4>Lineup Optimizer</h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipis elit. Quoniam, si dis
														placet,  abloqui discimus.  Sum mus dolor plures dies.</p>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6">
													<div class="rr">
														<div class="icone-area">
															<img src="assets/images/icon2.png"></div>
															<h4>Projections</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipis elit. Quoniam, si dis
																placet,  abloqui discimus.  Sum mus dolor plures dies.</p>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-12 col-sm-6">
															<div class="rr">
																<div class="icone-area">
																	<img src="assets/images/icon3.png"></div>
																	<h4>Bankroll Management</h4>
																	<p>Lorem ipsum dolor sit amet, consectetur adipis elit. Quoniam, si dis
																		placet,  abloqui discimus.  Sum mus dolor plures dies.</p>
																	</div>
																</div>
																<div class="col-xs-12 col-sm-6">
																	<div class="rr">
																		<div class="icone-area">
																			<img src="assets/images/icon4.png"></div>
																			<h4>Risk Tool</h4>
																			<p>Lorem ipsum dolor sit amet, consectetur adipis elit. Quoniam, si dis
																				placet,  abloqui discimus.  Sum mus dolor plures dies.</p>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-xs-12 col-sm-6">
																			<div class="rr">
																				<div class="icone-area">
																					<img src="assets/images/icon5.png"></div>
																					<h4>Shark Player Trends</h4>
																					<p>Lorem ipsum dolor sit amet, consectetur adipis elit. Quoniam, si dis
																						placet,  abloqui discimus.  Sum mus dolor plures dies.</p>
																					</div>
																				</div>
																				
																			</div>
																		</div>
																	</div>
																	
																</section>