<section>
	<div class="getting-started-videos">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">Getting Started on DraftKings</h1>
					<div class="clearfix">
						<div class="col-lg-8 col-lg-offset-2 col-xs-12 col-md-10 col-md-offset-1">
							<div class="video-frame">
								<div class="video-frame-inner">
									<iframe src="https://www.youtube.com/embed/W_0rEGbJVbE?feature=youtu.be&wmode=opaque&enablejsapi=1" scrolling="no" frameborder="0" allowfullscreen="" id="yui_3_17_2_1_1493634956476_190"></iframe>
								</div>
							</div>
						</div>
					</div>
					<h1 class="text-center">Getting Started on FanDuel</h1>
					<div class="clearfix">
						<div class="col-lg-8 col-lg-offset-2 col-xs-12 col-md-10 col-md-offset-1">
							<div class="video-frame">
								<div class="video-frame-inner">
									<iframe src="https://player.vimeo.com/video/188897237?wmode=opaque&api=1" frameborder="0" title="FanDuel Friends Mode" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="yui_3_17_2_1_1493634956476_230"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>